.toast {
  top: 2rem;
  gap: 0.8rem;
  right: 2rem;
  width: 28rem;
  display: flex;
  color: white;
  padding: 1.6rem;
  font-size: 1rem;
  position: absolute;
  border-radius: 0.8rem;
}

.toast-content {
  gap: 0.4rem;
  display: flex;
  text-align: left;
  align-items: start;
  flex-direction: column;
}

.toast-details {
  font-weight: 500;
}

.toast-actions {
  gap: 1rem;
  display: flex;
  margin-top: 0.8rem;
}

.toast-action {
  border: 0;
  color: black;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.3rem 0.6rem;
  background-color: white;
}

@media (min-width: 640px) {
  .toast {
    width: 32rem;
    font-size: 1.2rem;
  }

  .toast-actions {
    margin-top: 1.2rem;
  }

  .toast-action {
    font-size: 1.2rem;
  }
}
