.App {
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(228, 223, 223);
}

.toast-toggle-btn {
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
